


@{
    ViewBag.Title = "Getdate";
}

<!DOCTYPE html>
<html>
<head>
    <title>Get date</title>
</head>
<body>
    <div>
        <form action="/Chat/Getdate" method="post">
            <input name="date" type="date" @*value="DateTime.Now.Date"*@ />
            <input type="submit" value="Pick" />
        </form>
    </div>
</body>
</html>

